body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url("https://images.unsplash.com/photo-1486082570281-d942af5c39b7?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

/* main{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
} */

.nav-link {
    padding: 0.25rem 0;
    color: rgba(255,255,255,0.5);
    border-bottom: 0.25rem solid transparent;
    margin-left: 1rem;
}

.nav-link.active{
    color: white;
}

.nav-link:hover {
    border-bottom-color:rgba(255,255,255,0.5);  
}
.logout{
    font-weight: 500;
}